<div class="">
  <!-- {{ currentDate | date: 'h:mm:ss a' }} -->

  <!-- {{ price | currency: 'EGP' }} -->

  <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-3">
    <h1 class="mb-0" [class.text-primary]="isDarkHeader" [class.text-success]="!isDarkHeader">
      {{ pageTitle }}
    </h1>

    <button type="button" class="btn btn-outline-dark" (click)="toggleHeader()">
      Toggle Header
    </button>

    <!-- stat -->
    <div class="d-flex flex-wrap gap-2">
      <span class="badge rounded-pill text-bg-dark px-3 py-2"> Total : {{ totalCount }} </span>
      <span class="badge rounded-pill text-bg-success px-3 py-2"> Done : {{ doneCount }} </span>
      <span class="badge rounded-pill text-bg-primary px-3 py-2">
        Pending : {{ pendingCount }}
      </span>
    </div>
  </div>

  <!-- control flow -->
  @if (totalCount === 0) {
    <div class="alert alert-info shadow-sm mb-3">No Tasks yet</div>
  } @else if (doneCount === totalCount) {
    <div class="alert alert-success shadow-sm mb-3">All tasks are done.</div>
  } @else {
    <div class="alert alert-warning shadow-sm mb-3">you have {{ pendingCount }} keep going</div>
  }

  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <div class="row g-3 align-items-end">
        <div class="col-12 col-md-7">
          <label class="form-label fw-semibold">New Task</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newTitleTask"
            [placeholder]="placeholder"
            (keyup.enter)="addTask()"
          />
        </div>

        <!-- <div class="col-12 col-md-5">
          <label class="form-label fw-semibold">Filter</label>
          <select class="form-select" [(ngModel)]="selectedStatus">
            <option value="all">All</option>
            <option value="todo">Todo</option>
            <option value="doing">Doing</option>
            <option value="done">Done</option>
          </select>
        </div> -->
      </div>
    </div>
  </div>

  @if (filteredTasks.length === 0) {
    <div class="text-center text-secondary py-4">No Tasks match this filter</div>
  } @else {
    <div class="row g-3">
      @for (item of filteredTasks; track item.id) {
        <div class="col-12">
          <app-task-item
            [task]="item"
            (next)="nextStatus($event)"
            (remove)="deleteTask($event)"
          ></app-task-item>
        </div>
      }
    </div>
  }
</div>
